nav {
    width : 100%;
    height: 59px;
    display: flex;
    background-color: #424558;
    border: solid black 3px;
    /*background-image: url("../images/bann.jpg");
    background-repeat: no-repeat;
    background-size: 100%;*/
    opacity : 0.8;
}

nav>div {
 
  display: inline;
  position: relative;
  }

nav>div>a:hover
{
  color:#D3D3D3;
  transition: all .3s .1s;
}

nav>div>ul>li>a:hover
{
  color:#D3D3D3;
  transition: all .3s .1s;
}

nav>div:hover .submenu {
  display: block;
}

nav>div:hover>.submenu>div>a {
  font-style: italic;
  color: #FF8000;
}

.submenu {
  position: absolute;
  top:19px;
  left:0px;
  background-color: white;
  display: none;
  border: solid black 3px;
  
}

a {
  color: #FF8000;
  font-size: 18px;
  font-weight: bold;
  display:flex;
  text-decoration: none;
}

div {
  margin: auto;
}


header {
width: 100%;
display: flex;
flex-direction: column;
flex-grow:0;
}

.puce {
  visibility: hidden;
  color:#D3D3D3;
}

nav>div>a:hover .puce {
  visibility:visible;
  transition: all .3s .1s;
}
nav>div>ul {
  margin:0px;
  padding:0px;
}

nav>div>ul>li {
  float: left;
  position: relative;
}

nav li {
  list-style-type: none;
}

.submenu2 {
  display: none;
}

nav > div > ul::after{
  content: "";
  display: block;
  clear: both;
}

nav a{
  display: inline-block;
  text-decoration: none;
}

nav > div > ul > li > a{
  padding: 17px 30px;
}

nav li:hover .submenu2{
  display: inline-block;
  position: absolute;
  top: 100%;
  left:0px;
  padding: 0px;
}

.submenu2 li {
  border-bottom: 1px solid #CCC;
}


.submenu2 li a {
  padding:18px 1px;
  color: #222538;
  width: 270px;
  opacity: 1;
}

.menu-html:hover{
  border-top: 5px solid #e44d26;
  background-color:#424558;
}

nav > ul > li:hover a{
  padding: 15px 30px 20px 30px;
}


.menu-html .submenu2{
  background-color: rgb(230,100,40);
}

.submenu2 li:hover a{
  color:#EEE;
  font-weight: bold;
}

.logo
{
  width:36%;
}

nav>div:hover .logo
{
  width: 39%;
}