body {    
  margin:10px;
  background-color:#D3D3D3;
  text-align: center;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow:1;
}

aside {
  float: left;
  text-align: center;
  width: 100%;
}

.table{
  text-align: center;
}

thead
{
 background-color: #424558;
 box-shadow: 20px 20px 20px black;
 color:#FF8000;
}

tbody
{
 box-shadow: 15px 15px 15px black;
 color:#FF8000;
}

tbody>tr:nth-child(odd){background-color : #424558;}
tbody>tr:nth-child(even) {background-color : #424558;}
tbody>tr{text-align: center}

tr
{
 border: 5px solid green;
}
.voiture{
  width: 200px;
}

tr>th:hover .voiture{
  display: block;
  color:#FF8000;
  transition: all .3s .1s;
  width: 300px;
}

ul>a:hover .voiture{
  opacity: .5;
}

h3
{
  color:#FF8000;
  text-align: center;
  background-color: #424558;
  font-size: 200%;
}

footer
{
  color:#FF8000;
  text-align: center;
  font-size: 150%;
  width: 30%;
  float:right;
}

.sponsor
{
  display:flex;
}

.logos
{
  width:100%;
  max-height:200px;
  max-width: 300px;
}

h2
{
   color:#FF8000;
   background-color: #424558;
}


